.moveButton {
    postion: relative;
    width: 85px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#tauStudents {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
}

body {
    padding: 15px;
}

#h1 {
    text-decoration: underline;
    font-weight: bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 30px;
}

#page-content {
    background-color: FloralWhite;
}

#nextButton {
    margin-left: 12px;
}

.picture {
    height: 200px;
}

#dispStud {
    font-size: 16px;
}
